* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #333333;
}
nav {
  height: 70px;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background: #232323;
  color: #ccc;
  line-height: 70px;
}

nav .container {
  padding: 0 50px;
}

.logo {
  float: left;
  transition: 0.3s all;
}

.logo:hover {
  transform: scale(1.1);
}

ul {
  float: right;
}

li {
  display: inline-block;
}

.navlink a {
  position: relative;
  padding: 0 1rem;
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
  line-height: 70px;
}

.navlink a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 44px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navlink a:hover::after {
  transform: scaleX(1);
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  font-size: 1.2em;
  display: none;
}
main{
  height: calc(100vh - 70px);
}
main section{
  display: block;
  width: 100%;
  height: calc(100vh - 140px);
  background-color: red;
  position: absolute;
  top: 70px;
  overflow: hidden;
}
main section > *{
  position: absolute;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: red;
  animation: slide 12s infinite;
  overflow: hidden;
}
article:nth-child(1){
  left: 0;
  animation-delay: -1s;
  background-image: url(https://img2.10bestmedia.com/Images/Photos/352450/GettyImages-913753556_54_990x660.jpg);
  background-size: cover;
  background-position: center;
}
article:nth-child(2){
  animation-delay: 2s;
  background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&w=1000&q=80);
  background-size: cover;
  background-position: center;
}
article:nth-child(3){
  left: 0;
  animation-delay: 5s;
  background-image: url(https://atlantis.nyc3.digitaloceanspaces.com/styled/8f4597e8d337d22501cede98b6b0ecb4);
  background-size: cover;
  background-position: center;
}
article:nth-child(4){
  animation-delay: 7s;
  background-image: url(http://static.t13.cl/images/sizes/1200x675/1546722049-playa.jpg);
  background-size: cover;
  background-position: center;
}
@keyframes slide{
  0%{
    left: 100%;
    width: 100%;
  }
  5%{
    left: 0;
  }
  25%{
    left: 0;
  }
  30%{
    left: -100%;
    width: 100%;
  }
  30.0001%{
    left: -100%;
    width: 0;
  }
  100%{
    left: 100%;
    width: 0;
  }
}
footer{
  height: 70px;
  width: 100%;
  background-color: #444444;
}
footer p{
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 70px;
  letter-spacing: 1px;
}
@media screen and (max-width: 678px) {
  .burger {
    display: block;
    float: right;
  }
  ul {
    margin: 0;
    background: #292828;
    position: absolute;
    right: -100%;
    top: 70px;
    width: 50%;
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: all 400ms;
  }
  .navlink {
    text-align: center;
    display: block;
  }
  .navlink a {
    display: block;
    width: 100%;
    padding: 1rem 0;
  }
  .navlink a:hover::after {
    transform: scaleX(0);
    color: transparent;
    text-decoration: none;
    font-size: 1.2em;
  }
  .nav-active {
    right: 0;
  }
}
