html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #070404;
}
header {
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #e77474;
  color: rgb(0, 0, 0);
  
}
footer{
  
  bottom: 0;
}

.logo {
  letter-spacing: 2px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlink {
  list-style: none;
  margin: 0;
}
.container
{
  position: relative;
  text-align: center;
  padding: 1em;
  color: #ebdbdb;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background: #666364;
  margin-left: 100px;
  margin-top: 50px;
}
.navlink a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2em;
}
.navlink a:hover {
  color: rgb(63, 224, 198);
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 678px) {
  .burger {
    display: block;
  }
  .nav {
    margin: 0;
    background: #343434;
    position: absolute;
    right: -100%;
    top: 70px;
    width: 50%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: all 400ms;
  }
  .navlink {
    text-align: center;
  }

  .nav-active {
    right: 0;
  }
}
